# [Carmen]

In [0]:
USE [DBSistemaGestionTurnos2]
GO

In [0]:
/****** Object:  User [Carmen]    Script Date: 14/04/2024 7:50:23 p. m. ******/
CREATE USER [Carmen] FOR LOGIN [Carmen] WITH DEFAULT_SCHEMA=[dbo]
GO

# [dbo].[CalcularPromedioEdadEstudiantes]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[CalcularPromedioEdadEstudiantes]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[CalcularPromedioEdadEstudiantes]()
RETURNS DECIMAL(10, 2)
AS
BEGIN
    DECLARE @promedio DECIMAL(10, 2);
    
    SELECT @promedio = AVG(DATEDIFF(YEAR, FechaNacimiento_Estudiante, GETDATE()))
    FROM Estudiantes;
    
    RETURN @promedio;
END;
GO

# [dbo].[ObtenerEdadEstudiante]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[ObtenerEdadEstudiante]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ObtenerEdadEstudiante](@Id_Estudiante INT)
RETURNS INT
AS
BEGIN
    DECLARE @edad INT;

    SELECT @edad = DATEDIFF(YEAR, FechaNacimiento_Estudiante, GETDATE())
    FROM Estudiantes
    WHERE Id_Estudiante = @id_estudiante;

    RETURN @edad;
END;
GO

# [dbo].[ObtenerTotalEstudiantes]

In [0]:
/****** Object:  UserDefinedFunction [dbo].[ObtenerTotalEstudiantes]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[ObtenerTotalEstudiantes]()
RETURNS INT
AS
BEGIN
    DECLARE @total_estudiantes INT;
    SELECT @total_estudiantes = COUNT(*) FROM Estudiantes;
    RETURN @total_estudiantes;
END;
GO

# [dbo].[Estudiantes]

In [0]:
/****** Object:  Table [dbo].[Estudiantes]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estudiantes](
	[Id_Estudiante] [int] NOT NULL,
	[Nombre_Estudiante] [varchar](30) NOT NULL,
	[Apellidos_Estudiante] [varchar](30) NOT NULL,
	[Correo_Estudiante] [varchar](100) NOT NULL,
	[FechaNacimiento_Estudiante] [date] NOT NULL,
	[Telefono_Estudiante] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Estudiante] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Computadoras]

In [0]:
/****** Object:  Table [dbo].[Computadoras]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Computadoras](
	[Id_Computadora] [varchar](20) NOT NULL,
	[Serie_Computadora] [varchar](50) NOT NULL,
	[Estado_Computadora] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Computadora] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[Turnos]

In [0]:
/****** Object:  Table [dbo].[Turnos]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Turnos](
	[Id_Turno] [varchar](20) NOT NULL,
	[Id_Estudiante] [int] NOT NULL,
	[Id_Computadora] [varchar](20) NOT NULL,
	[FechayHoraInicio_Turno] [datetime] NOT NULL,
	[FechayHoraFin_Turno] [datetime] NOT NULL,
	[Estado_Turno] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Turno] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VistaTurnosActivos]

In [0]:
/****** Object:  View [dbo].[VistaTurnosActivos]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaTurnosActivos] AS
SELECT 
    T.Id_Turno,
    E.Id_Estudiante,
    E.Nombre_Estudiante,
    E.Apellidos_Estudiante,
    C.Id_Computadora,
    C.Serie_Computadora,
    T.FechayHoraInicio_Turno,
    T.FechayHoraFin_Turno
FROM 
    Turnos T
INNER JOIN 
    Estudiantes E ON T.Id_Estudiante = E.Id_Estudiante
INNER JOIN 
    Computadoras C ON T.Id_Computadora = C.Id_Computadora
WHERE 
    T.Estado_Turno = 'Activo';
GO

# [dbo].[Ocupaciones]

In [0]:
/****** Object:  Table [dbo].[Ocupaciones]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ocupaciones](
	[Id_Ocupacion] [varchar](20) NOT NULL,
	[Id_Estudiante] [int] NOT NULL,
	[Id_Computadora] [varchar](20) NOT NULL,
	[Id_Turno] [varchar](20) NOT NULL,
	[FechayHoraInicio_Ocupacion] [datetime] NOT NULL,
	[FechayHoraFin_Ocupacion] [datetime] NULL,
	[Duracion_Ocupacion] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Ocupacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[VistaOcupacionesActuales]

In [0]:
/****** Object:  View [dbo].[VistaOcupacionesActuales]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VistaOcupacionesActuales] AS
SELECT *
FROM Ocupaciones
WHERE FechayHoraInicio_Ocupacion <= GETDATE();
GO

# [dbo].[Mantenimientos]

In [0]:
/****** Object:  Table [dbo].[Mantenimientos]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mantenimientos](
	[Id_Mantenimiento] [varchar](20) NOT NULL,
	[Id_Computadora] [varchar](20) NOT NULL,
	[Id_Solicitud] [varchar](20) NOT NULL,
	[Fecha_Mantenimiento] [date] NOT NULL,
	[Tipo_Mantenimiento] [varchar](50) NOT NULL,
	[Descripción_Mantenimiento] [varchar](50) NOT NULL,
	[Costo_Mantenimiento] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Mantenimiento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[SolicitudesSoporteTecnico]

In [0]:
/****** Object:  Table [dbo].[SolicitudesSoporteTecnico]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SolicitudesSoporteTecnico](
	[Id_Solicitud] [varchar](20) NOT NULL,
	[Id_Computadora] [varchar](20) NOT NULL,
	[Fecha_Solicitud] [date] NOT NULL,
	[Descripción_Solicitud] [varchar](50) NOT NULL,
	[Prioridad_Solicitud] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Solicitud] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [FK__Mantenimi__Id_Co__59063A47]

In [0]:
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD FOREIGN KEY([Id_Computadora])
REFERENCES [dbo].[Computadoras] ([Id_Computadora])
GO

# [FK__Mantenimi__Id_So__59FA5E80]

In [0]:
ALTER TABLE [dbo].[Mantenimientos]  WITH CHECK ADD FOREIGN KEY([Id_Solicitud])
REFERENCES [dbo].[SolicitudesSoporteTecnico] ([Id_Solicitud])
GO

# [FK__Ocupacion__Id_Co__52593CB8]

In [0]:
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([Id_Computadora])
REFERENCES [dbo].[Computadoras] ([Id_Computadora])
GO

# [FK__Ocupacion__Id_Es__5165187F]

In [0]:
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([Id_Estudiante])
REFERENCES [dbo].[Estudiantes] ([Id_Estudiante])
GO

# [FK__Ocupacion__Id_Tu__534D60F1]

In [0]:
ALTER TABLE [dbo].[Ocupaciones]  WITH CHECK ADD FOREIGN KEY([Id_Turno])
REFERENCES [dbo].[Turnos] ([Id_Turno])
GO

# [FK__Solicitud__Id_Co__5629CD9C]

In [0]:
ALTER TABLE [dbo].[SolicitudesSoporteTecnico]  WITH CHECK ADD FOREIGN KEY([Id_Computadora])
REFERENCES [dbo].[Computadoras] ([Id_Computadora])
GO

# [FK__Turnos__Id_Compu__4E88ABD4]

In [0]:
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD FOREIGN KEY([Id_Computadora])
REFERENCES [dbo].[Computadoras] ([Id_Computadora])
GO

# [FK__Turnos__Id_Estud__4D94879B]

In [0]:
ALTER TABLE [dbo].[Turnos]  WITH CHECK ADD FOREIGN KEY([Id_Estudiante])
REFERENCES [dbo].[Estudiantes] ([Id_Estudiante])
GO

# [dbo].[EliminarEstudiante]

In [0]:
/****** Object:  StoredProcedure [dbo].[EliminarEstudiante]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[EliminarEstudiante]
@Id_Estudiante INT
AS
BEGIN
BEGIN TRANSACTION;
DELETE FROM Ocupaciones WHERE Id_Estudiante = @Id_Estudiante;
DELETE FROM Turnos WHERE Id_Estudiante = @Id_Estudiante;
DELETE FROM Estudiantes WHERE Id_Estudiante = @Id_Estudiante;
COMMIT TRANSACTION;
END;
GO

# [dbo].[InsertarEstudiante]

In [0]:
/****** Object:  StoredProcedure [dbo].[InsertarEstudiante]    Script Date: 14/04/2024 7:50:24 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[InsertarEstudiante]
@Id_Estudiante INT,
@Nombre_Estudiante VARCHAR(30),
@Apellidos_Estudiante VARCHAR(30),
@Correo_Estudiante VARCHAR(100),
@FechaNacimiento_Estudiante DATE,
@Telefono_Estudiante INT
AS
BEGIN
INSERT INTO Estudiantes (Id_Estudiante, Nombre_Estudiante, Apellidos_Estudiante, Correo_Estudiante, FechaNacimiento_Estudiante, Telefono_Estudiante)
VALUES (@Id_Estudiante, @Nombre_Estudiante, @Apellidos_Estudiante, @Correo_Estudiante, @FechaNacimiento_Estudiante, @Telefono_Estudiante);
END;
GO